<% extend('layout') %>

<div class="container mt-4">
    <h1>Lista degli Eventi</h1>

    <table class="table mt-4">
        <thead>
        <tr>
            <th scope="col">ID Evento</th>
            <th scope="col">Titolo</th>
            <th scope="col">Luogo</th>
            <th scope="col">Data</th>
            <th scope="col">Orario</th>
            <th scope="col">Artista</th>
            <th scope="col">Capienza</th>
            <th scope="col">Stato</th>
            <th scope="col">Timestamp</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <% if(results.length === 0) { %>
            <tr>
                <td class="text-center" colspan="12">Non ci sono eventi.</td>
            </tr>
        <% } else { %>
            <% for(let item of results) { %>
                <tr>
                    <td><%= item.id %></td>
                    <td><%= item.titolo %></td>
                    <td><%= item.luogo %></td>
                    <td><%= item.data %></td>
                    <td><%= item.orario %></td>
                    <td><%= item.artista %></td>
                    <td><%= item.remainingSlots + '/' + item.capienza %></td>
                    <td><%= item.stato %></td>
                    <td><%= item.timestamp %></td>
                    <td><a class="btn btn-primary" href="/evento/id/<%= item.id %>">Dettagli evento</a></td>
                    <td><a class="btn btn-primary" href="/evento/id/<%= item.id %>/biglietti">Lista biglietti
                            venduti</a>
                    </td>
                    <td><a class="btn btn-primary" href="/evento/id/<%= item.id %>/acquistabiglietto">Acquista
                            biglietto</a>
                    </td>
                </tr>
        <% } } %>
        </tbody>
    </table>
</div>

        
