<% extend('layout') %>

<div class="container mt-4">
    <h1>Lista dei Biglietti</h1>

    <table class="table mt-4">
        <thead>
        <tr>
            <th scope="col">ID Biglietto</th>
            <th scope="col">Tipo Biglietto</th>
            <th scope="col">Prezzo</th>
            <th scope="col">Codice Sigillo</th>
            <th scope="col">Stato</th>
            <th scope="col">Timestamp</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <% if(results.length === 0) { %>
            <tr>
                <td class="text-center" colspan="8">Non ci sono biglietti venduti per l'evento.</td>
            </tr>
        <% } else { %>
            <% for(let item of results) { %>
                <tr>
                    <td><%= item.id %></td>
                    <td>
                        <% if(item.typeb === '0'){ %>
                            Platinum
                        <% } else if (item.typeb === '1'){ %>
                            Gold
                        <% } else { %>
                            Standard
                        <% } %>
                    </td>
                    <td><%= item.prezzo %></td>
                    <td><%= item.cod_sigillo %></td>
                    <td>
                        <% if(item.state === '0'){ %>
                            Valido
                        <% } else if (item.state === '1'){ %>
                            Annullato
                        <% } else { %>
                            Invalidato
                        <% } %>
                    </td>
                    <td><%= item.timestamp %></td>
                    <% if (item.state === '0') { %>
                        <td><a class="btn btn-primary"
                               href="/evento/id/<%= id_evento %>/invalidaBiglietto/id/<%= item.id %>">Invalida
                                Biglietto</a>
                        </td>
                        <td><a class="btn btn-primary"
                               href="/evento/id/<%= id_evento %>/annullaBiglietto/id/<%= item.id %>">Annulla
                                Biglietto</a>
                        </td>
                    <% } %>
                </tr>
        <% } } %>
        </tbody>
    </table>
</div>
